<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for NFT</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        function insertNft(){
            let form = document.getElementById("form_surf");
            axios({
                method: 'post',
                url: 'http://localhost:8000/Surf/insert',
                data: {
                    name: form.name.value,
                    symbol: form.symbol.value
                }
            })
            .then((rep) => {
                return rep.data; 
            })
            .then((data) => {
                // console.log(data);
                let html = "<tr id='tr_" + data.id + "'><td>" + data.id + "</td><td>" + data.name + "</td><td>" + data.symbol +  "<td><button onclick='deleteNft(" + data.id + ")'>삭제</button></td>" + "</td></tr>";
                $("table").append(html);
                form.name.value = "";
                form.symbol.value = "";
            })     
            
        }

        function deleteNft(id){
            // console.log(id);
            axios({
                method: 'delete',
                url: 'http://localhost:8000/Surf/destroy',
                //앞 id = req.body 뒤는 함수(id)이용하여 인자로 넣어줌
                data: {id : id}
            })
            .then((response) => {
                return response.data;
            })
            .then((data) => {
                alert(data);
                $('#tr_' + id).remove();
            })
        }

    </script>
</head>
<body>
    <form action="http://localhost:8000/Surf" >
        <fieldset>
            <legend>NFT검색하기 / 추가하기</legend>
            <input name="surf" type="text" placeholder="NAME or SYMBOL">
            <button type="submit">검색</button> 
    </form>
    <form  method="get"  id="form_surf">
            <input name="name" type="text" placeholder="INSERT NAME">
            <input name="symbol" type="text" placeholder="INSERT SYMBOL">
            <button type="button" onclick="insertNft();">추가</button>
        </fieldset>
    </form>
    <table id="surf_result" cellspacing="0" cellpadding="5">
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th>Symbol</th>
            </tr>
        <%
            for (let i = 0; i < data.length; i++){
        %>
          
            <tr id="tr_<%=data[i].id%>">
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].symbol%></td>
                <td><button type="button" onclick="deleteNft('<%=data[i].id%>');">삭제</button></td>
            </tr>
        <%
            }
        %>
        
    </table>
</body>
</html>